@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Shippori Antique B1", sans-serif;
}
body {
  background: $bgprincipal;
}
/*FOOTER*/
@each $name-color, $bgcolor in $colors {
  .button-footer--#{$name-color} {
    background: $bgcolor;
    border-color: $bgcolor;
    border-radius: $circulo;
    width: $tamanocirculo;
    height: $tamanocirculo;
    display: flex;
    justify-content: $center;
    align-items: $center;
  }
}
@each $name-color, $bgcolor in $colors {
  .button-footer--#{$name-color}:hover,
  .button-footer--#{$name-color}:focus {
    background: $bgcolor;
  }
}
/*CUERPO*/
#MenuNavegacion, .fontsize {
  font-size: $tipografiapag;
}
.cuerpo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bgprincipal;
  color: white;
  text-decoration-line: $bgsecundario;
  .cuerpo_titulo {
    text-align: center;
  }
}
.parrafodearmar {
  margin: 0px, 10px, 0, 20px;
}

/*CARROUSEL*/
.tamano {
  height: 65px;
}

@media screen and (max-width: 600px) {
  .tamano {
    height: 90px;
  }
}
.borde{
  border:white, 2px, solid;
}
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}