$circulo: 50%;
$tamanocirculo: 60px;
$center: center;
$colors: (
  facebook: #3b5998,
  whatsapp: #25d366,
  instagram:
    linear-gradient(
      #5b51d8,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d,
      #f56040,
      #f77737,
      #fcaf45,
      #fcaf45
    ),
  twitter: #55acee,
);
$bgprincipal:#212529;
$bgsecundario:#36414b;
